*, *::before, *::after {
  box-sizing: border-box;
}


* {
  margin: 0;
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter";
  color: #272D37;
}


img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}
ul {
  padding: 0;
}
a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


/* hilal start */

.features h3{
font-size: 24px;
font-weight: 700;
line-height: 32px;
letter-spacing: -0.02em;
text-align: center;
}


.card-list{
  display: grid;
  grid-template-columns: 1fr;
  gap:40px;
}

.card{
  padding: 20px;
  text-align: center;
}

.card a{
  color: #437EF7;
}