*, *::before, *::after {
  box-sizing: border-box;
}


* {
  margin: 0;
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter";
  color: #272D37;
}


img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}
ul {
  padding: 0;
}
a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


/* hilal start */

.card-content > h3{
  text-align: center;
  margin-block: 32px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;

}


.card h3{
  letter-spacing: -0.02em;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}


.card-list{
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  
}

.card > img{
  margin-bottom: 16px;
}


.card p{
  margin-bottom: 8px;
  color: #5F6D7E;
  letter-spacing: -0.10000000149011612px;
}


.card-content{
  padding-inline: 18px;
}

.card a{
  color: #437EF7;
  display: inline-flex;
  gap: 6px;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
}


@media (min-width: 576px ) {
  
  .card-list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 48px;
    column-gap: 32px;
  }

  .card-content{
    padding-inline: 32px;
  }

  .card-content > h3{
    margin-top: 40px;
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 40px;
  }
  
  .card h3{
    margin-bottom: 12px;
    font-size: 22px;
    line-height: 30px;
  }

  .card > img{
    margin-bottom: 20px;
  }
}