*, *::before, *::after {
  box-sizing: border-box;
}


* {
  margin: 0;
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter";
  color: #272D37;
}


img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}  

header {
  background: url(../img/header-desktop.png) no-repeat;
  padding: 16px;
}

.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.header-register, .nav {
  display: none;
}

.hero-info {
  text-align: center;
}

header h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #F9F9F9;
  margin-bottom: 16px;
}

header h6 {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.10000000149011612px;
  color: #F9F9F9;
  margin-bottom: 32px;
}

/* Header End */

/* tags start */
.tags {
  padding: 16px;
}
.tags-list p {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
}
.tags-list span {
  background-color: #F7F7F8;
  padding: 4px 12px;
  margin-right: 11px;
}
.tags-input-group {
  margin-top: 12px;
}

.tags-input-group form {
  display: flex;
}

.tags-input-group input {
  border: 1px solid #DAE0E6; 
  padding: 10px;
  border-radius: 5px 0px 0px 5px;
}
.tags-input-group button {
  background-color: #437EF7;
  color: #F9F9F9;
  border: none;
  padding: 10px;
  border-radius: 0 5px 5px 0;
}

/* Blog Start */
.blog {
  padding: 32px 16px;
}

.blog-card  {
  position: relative;
  border-radius: 10px;
  border: 1px solid #F5FAFF;
  margin-bottom: 16px;
  width: 343px;
}

.blog-card > img {
  height: 184px;
  width: 343px;
  border-radius: 10px 10px 0px 0px;
  margin-inline: auto;
}

.user > img {
  position: absolute;
  top: 160px;
  right: 32px;
}

.card-content{
  margin-block: 24px;
  padding-inline: 32px;
}

.card-content button {
  background-color: #F5FAFF;
  color: #437EF7;
  border: none;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  margin-bottom: 24px;
}

.card-content span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  color: #5F6D7E;
}

.card-content h4 ,.card-content p {
  text-align: left;
}

.card-content a {
  text-decoration: none;
  color: #437EF7;
  background: url(../img/right-icon-blue.svg) no-repeat right;
  padding-right: 25px;
}

.blog > .btn {
  display: flex;
  margin-top: 32px;
  justify-content: center;
}

.blog > div > button {
  background-color: #437EF7;
  color: #F9F9F9;
  border: none;
  padding: 12px 18px;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 0px #1018280A;
}

/* Blog end  */

/* Footer start */

footer {
  padding: 32px 16px;
  background-color: #151B28;
}
.footer-hero h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #F9F9F9;
  margin-bottom: 16px;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.input-group button:first-child {
  padding: 12px 18px 12px 18px;
  border-radius: 6px;
  background-color: #437EF7;
  color: #F9F9F9;
  box-shadow: 0px 1px 2px 0px #1018280A;
  border: none;
}
.input-group button:last-child {
  padding: 12px 18px 12px 18px;
  border-radius: 6px;
  background-color: #2C3444;
  color: #F9F9F9;
  box-shadow: 0px 1px 2px 0px #1018280A;
  border: none;
}
.footer-title {
  border-bottom: 1px solid #2E3545;
  border-top: 1px solid #2E3545;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding: 32px 16px ;
  margin-top: 24px;
}

.footer-logo {
  grid-column: span 2; 
}
.footer-title img {
  margin-bottom: 16px;
}

.footer-title p {
  color: #A5ACBA;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  margin-bottom: 24px;
}
.footer-title ul {
  padding: 0px;
}
.footer-title ul li {
  list-style: none;
  color: #A5ACBA;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  margin-bottom: 12px;
}

.footer-title ul li:first-child {
  color: #F9F9F9;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  margin-bottom: 16px;
}
.footer-copyright {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  color: #A5ACBA;
}

.footer-copyright .social-icons {
  display: flex;
  gap: 12px;

}
/* Mobile End */

/* Tablet Start */

@media (width > 375px) {
  .header-hero {
    padding-inline: 32px;
  }

  .hero-info {
    max-width:672px;
  }

  .hero-info h1 {
    font-size: 52px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.01em;
  }

  .tags {
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tags-input-group {
    margin: 0;
  }

  .tags-input-group form {
    max-height: 46px;
  }
   
  .blog-card-list {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .tablet-none {
    display: none;
  }

  /* Footer start */

  footer {
    padding: 40px 32px;
  }
  .footer-hero h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.01em;
    padding-right: 49px;
  }
  .input-group {
    flex-direction: row;
  }
  .footer-title {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-copyright .social-icons {
    gap: 24px ;
  }
} 

/* Tablet end */

/*  Desktop start */

@media (width > 768px) {
  .hamburger-menu {
    display: none;
  }
  header {
    padding: 20px 80px;
  }
  .nav li a {
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    color: #FFF;
  }
  .nav li a:hover {
    color: #437EF7;
  }
  header .nav {
    list-style: none;
    display: flex;
    gap: 32px;
    margin-left: 64px;
  }
  .header-register li a {
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    text-decoration: none;
    color: #fff;
    background-color: #437EF7;
    padding: 12px 18px;
    border-radius: 6px;
  }
  .header-register .sign-up {
    color: #437EF7;
    background: inherit;
  }
  .header-register .login:hover, .header-register .sign-up:hover {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }

  .header-register {
    display: flex;
    list-style: none;
    gap: 24px;
    margin-left: auto;
  }
  .hero-info {
    margin-inline:auto ;
  }
  .tags {
    padding: 32px 80px;
  }
  .blog {
    padding: 24px 80px;
  }
  .blog-card-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .tablet-none {
    display: block;
  }
  footer {
    padding: 64px 80px;
  }
  .footer-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-title {
    display: flex;
    gap: 152px;
  }

}
