*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter";
  color: #272d37;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
body {
  background: #f8f9fb;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Features-Pricing Start */

.first-card,
.second-card {
  padding: 32px 16px;
}

.brand-group-text {
  text-align: left;
  margin-bottom: 32px;
}

.brand-group-text h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
  margin-top: 8px;
}

.brand-group-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  margin-bottom: 32px;
}

.brand-group-text span {
  color: #437ef7;
  margin-bottom: 8px;
}

header {
  background: url(../img/header-desktop.png) no-repeat;
}

.header-navbar {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.header-register,
.nav {
  display: none;
}

.hero-info {
  text-align: center;
}

header h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  margin-bottom: 16px;
}

header h6 {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.10000000149011612px;
  color: #f9f9f9;
  margin-bottom: 32px;
}
.form > img {
  height: 546px;
  width: 375px;
}
.form-info {
  padding: 32px 16px;
}
.form-info h6 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  color: #437ef7;
}
.form-info h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.02em;
  margin-bottom: 12px;
}

.form-info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  color: #5f6d7e;
  margin-bottom: 32px;
}

.label-group > div {
  display: grid;
  padding: 32px;
  gap: 16px;
}
.label-group label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  margin-bottom: 8px;
}
.label-group select {
  padding: 12px 16px;
  gap: 12px;
  border-radius: 5px;
  border: 1px solid #dae0e6;
}

.staff {
  padding: 40px 16px;
}
.main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.main-info > div > p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.10000000149011612px;
}

.main-info > div > span{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  color: #5f6d7e;
}
.main-info > h6 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  color: #437ef7
}

table tr {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
}
table span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  color: #5f6d7e;
}
.two-menu {
  display: none;
}
table th {
  text-align: left;
}
/* table, td, th {
  border: 1px solid #eaebf0;
} */

.other-staff {
  padding: 40px 16px;
}

.brand-group-button {
  display: inline-flex;
  align-items: center;
  background-color: #437ef7;
  box-shadow: 0px 1px 2px 0px #1018280a;
  border-radius: 6px;
  padding: 12px 18px;
  gap: 6px;
}

.brand-group-button a {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  color: #fff;
}

.brand-group-img-deskmob {
  display: block;
}

.brand-group-img-tablet {
  display: none;
}

/* Hilalin bölüm İnput */

.feedback {
  margin: 32px 16px;
}

.customer-feedback {
  text-align: center;
}

.lookscout-customer-image {
  margin-bottom: 16px;
  min-width: 100%;
}

.customer-feedback h3 {
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #272d37;
}

.customer-feedback p {
  margin-bottom: 40px;
  letter-spacing: -0.10000000149011612px;
  color: #5f6d7e;
}

.customer-comment p {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #272d37;
  margin-block: 16px;
}

.customer-comment span {
  letter-spacing: -0.10000000149011612px;
  color: #5f6d7e;
  display: block;
}

.success h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}

.success p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  color: #5f6d7e;
}

.success a {
  color: #437ef7;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  margin-top: 16px;
  display: inline-block;
}

.customer-comment {
  border-bottom: 1px solid #eaebf0;
  padding-bottom: 16px;
}

.customer-story {
  display: grid;
  border: 1px solid #eaebf0;
  box-shadow: 0px 1px 2px 0px #1018280a;
  border-radius: 10px;
  background-color: white;
  gap: 16px;
}

.customer-story div {
  padding-inline: 16px;
  margin-bottom: 16px;
}

/* Footer start */

footer {
  padding: 32px 16px;
  background-color: #151b28;
}
.footer-hero h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  margin-bottom: 16px;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.input-group button:first-child {
  padding: 12px 18px 12px 18px;
  border-radius: 6px;
  background-color: #437ef7;
  color: #f9f9f9;
  box-shadow: 0px 1px 2px 0px #1018280a;
  border: none;
}
.input-group button:last-child {
  padding: 12px 18px 12px 18px;
  border-radius: 6px;
  background-color: #2c3444;
  color: #f9f9f9;
  box-shadow: 0px 1px 2px 0px #1018280a;
  border: none;
}
.footer-title {
  border-bottom: 1px solid #2e3545;
  border-top: 1px solid #2e3545;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding: 32px 16px;
  margin-top: 24px;
}

.footer-logo {
  grid-column: span 2;
}
.footer-title img {
  margin-bottom: 16px;
}

.footer-title p {
  color: #a5acba;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  margin-bottom: 24px;
}
.footer-title ul {
  padding: 0px;
}
.footer-title ul li {
  list-style: none;
  color: #a5acba;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  margin-bottom: 12px;
}

.footer-title ul li:first-child {
  color: #f9f9f9;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  margin-bottom: 16px;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  color: #a5acba;
}

.footer-copyright .social-icons {
  display: flex;
  gap: 12px;
}

/* Mobile End */

/* Tablet Start */

@media (width > 375px) {
  .header-hero {
    padding-inline: 32px;
  }

  .hero-info {
    max-width: 672px;
  }

  .hero-info h1 {
    font-size: 52px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.01em;
  }

  /* form */
  .form > img {
    height: 546px;
    width: 768px;
  }
  .form-info {
    text-align: center;
  }
  .label-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .first-card,
  .second-card {
    padding: 40px 32px;
  }

  .brand-group-text h3 {
    font-size: 32px;
    line-height: 42px;
  }

  .brand-group-text p {
    margin-bottom: 40px;
  }

  .brand-group-img-deskmob {
    display: none;
  }

  .brand-group-img-tablet {
    display: block;
  }
  table {
    width: 100%;
    background-color: #fff;
  }
  .two-menu {
    display: table-cell;
  }

  .feedback {
    margin: 40px 32px;
  }

  .customer-feedback h3 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.02em;
    margin-bottom: 16px;
  }

  .lookscout-customer-image {
    content: url("../img/customer-2.jpg");
  }

  .customer-story {
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
  }

  .customer-story img {
    grid-column: span 2;
  }

  .customer-comment {
    border-bottom: none;
    padding-bottom: 0;
  }

  .success {
    border-left: 1px solid #eaebf0;
  }

  .success h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.01em;
  }

  .customer-comment p {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.01em;
  }

  /* footer */
  footer {
    padding: 40px 32px;
  }
  .footer-hero h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.01em;
    padding-right: 49px;
  }
  .input-group {
    flex-direction: row;
  }
  .footer-title {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-copyright .social-icons {
    gap: 24px;
  }
}

/*  Desktop start */

@media (width > 768px) {
  .hamburger-menu {
    display: none;
  }
  header {
    padding: 20px 80px;
  }
  .nav li a {
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    color: #fff;
  }
  .nav li a:hover {
    color: #437ef7;
  }
  header .nav {
    list-style: none;
    display: flex;
    gap: 32px;
    margin-left: 64px;
  }
  .header-register li a {
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    text-decoration: none;
    color: #fff;
    background-color: #437ef7;
    padding: 12px 18px;
    border-radius: 6px;
  }
  .header-register .sign-up {
    color: #437ef7;
    background: inherit;
  }
  .header-register .login:hover,
  .header-register .sign-up:hover {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }

  .header-register {
    display: flex;
    list-style: none;
    gap: 24px;
    margin-left: auto;
  }
  .hero-info {
    margin-inline: auto;
  }

  /* Form */

  .form > img {
    height: 546px;
    width: 1440px;
  }
  .form-info {
    padding: 64px 80px;
    text-align: center;
  }

  .label-group {
    padding-inline: 80px;
    grid-template-columns: repeat(3, 1fr);
  }

  .feedback {
    margin: 64px 80px;
  }

  .customer-story {
    grid-template-columns: 0.93fr 1fr 1fr;
    gap: 32px;
  }

  .lookscout-customer-image {
    content: url("../img/lookscout-customer.png");
    margin-bottom: 0;
  }

  .customer-story img {
    grid-column: 1/2;
  }

  .customer-comment p {
    margin-top: 8px;
    margin-bottom: 32px;
  }

  .success {
    padding-left: 48px !important;
  }
  .success p {
    margin-bottom: 30px;
  }

  .customer-story div {
    margin-bottom: 56px;
  }

  .customer-comment {
    margin-left: 32px;
  }

  .success a {
    margin-top: 0;
  }

  /* Brand-Group Start */

  .first-card,
  .second-card {
    padding: 64px 80px;
  }

  .second-card {
    display: flex;
    flex-direction: row-reverse;
    gap: 80px;
  }

  .first-card {
    display: flex;
    gap: 140px;
  }

  .first-text {
    max-width: 516px;
  }

  .second-text {
    max-width: 576px;
  }

  .brand-group-text {
    align-self: center;
    padding-left: 32px;
  }

  .brand-group-text h3 {
    font-size: 32px;
    line-height: 42px;
  }

  .brand-group-text p {
    margin-bottom: 40px;
  }

  .brand-group-img-deskmob {
    display: block;
    padding-right: 32px;
  }

  .brand-group-img-tablet {
    display: none;
  }

  .staff, .other-staff {
    padding-inline: 112px;
  }
  table {
    background-color: #fff
  }

  /* Footer */
  footer {
    padding: 64px 80px;
  }
  .footer-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-title {
    display: flex;
    gap: 152px;
  }
}
