*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter";
  color: #272d37;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.desktop-menu {
  display: none;
}

/* Header */

header {
  background-color: #f8f9fb;
}
.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #eaebf0;
  margin-bottom: 24px;
}
.header-hero {
  padding: 32px 16px;
  text-align: center;
}
.header-hero h6 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  color: #437ef7;
  margin-bottom: 32px;
}
.header-hero h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}
.header-hero h5 {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.10000000149011612px;
  color: #5f6d7e;
}

/* header end */

/* Card Start */

.cards-group {
  padding: 32px 16px;
}

.card {
  border: 1px solid #eaebf0;
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 16px;
  max-width: 343px;
}
.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.card-top a {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  color: #272d37;
  text-decoration: none;
  border: 1px solid #eaebf0;
  padding: 11px 17px;
  border-radius: 6px;
}
h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}
.card-tablet-desktop {
  display: none;
}
/* form */

.form-section {
  margin: 32px 16px;
  background-color: #f8f9fb;
}
.form-group {
  padding: 20px;
  max-width: 100%;
  display: grid;
  gap: 16px;
}
.f-title {
  margin-bottom: 8px;
}
.input-wrap .input {
  background-color: #fff;
  border: 1px solid #bebed6;
  width: 100%;
  border-radius: 6px;
  padding: 10px 15px
}
.input-wrap textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #bebed6;
  border-radius: 6px;
  padding: 10px 15px
}

.form-section button {
  background-color: #437EF7;
  color: #fff;
  padding: 12px 18px;
  border-radius: 6px;
  border: none;
  width: 100%;
}

/* Features Start */

.features {
  padding: 32px 16px;
  background-color: #151b28;
}

.features-group-text {
  text-align: left;
  margin-bottom: 32px;
}

.features-group-text h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
  margin-top: 8px;
  color: #f9f9f9;
}

.features-group-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  margin-bottom: 32px;
  color: #a5acba;
}

.features-group-text span {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  color: #437ef7;
}

.features-group-button {
  display: inline-flex;
  align-items: center;
  background-color: #437ef7;
  box-shadow: 0px 1px 2px 0px #1018280a;
  border-radius: 6px;
  padding: 12px 18px;
  gap: 6px;
}

.features-group-button a {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  color: #fff;
}

.features-group-img-deskmob {
  display: block;
}

.features-group-img-tablet {
  display: none;
}

/* footer */

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding: 32px 16px;
}

.footer-copyright {
  grid-column: span 2;
  margin-inline: auto;
}

.footer-logo {
  grid-column: span 2;
}
.social-icons {
  display: flex;
  justify-content: space-around;
}

.footer img {
  margin-bottom: 16px;
}

.footer p {
  color: #5f6d7e;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  margin-bottom: 24px;
}
.footer ul {
  padding: 0px;
}
.footer ul li {
  list-style: none;
  color: #5f6d7e;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  margin-bottom: 12px;
}

.footer ul li:first-child {
  color: #272d37;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  margin-bottom: 16px;
}
.footer-copyright {
  margin-inline: auto;
}
.footer-copyright img {
  margin-inline: auto;
}
.footer-copyright > div > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: center;
  color: #5f6d7e;
}
.icons-tablet {
  display: none;
}

@media (width > 375px) {
  .header-hero {
    padding: 48px 48px 88px;
  }
  .header-hero h6 {
    margin: 0;
  }
  .header-hero h1 {
    font-size: 52px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.01em;
    padding-inline: 2px;
  }

  /* Card Start */
  .cards-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 32px;
    gap: 24px;
  }
  .card {
    margin-bottom: 0;
    padding: 24px 32px;
  }
  .card-tablet-desktop {
    display: block;
  }

  /* form start */
  .form-section {
    margin: 48px 32px;
  }
  .form-group {
    grid-template-columns: repeat(2, 1fr);
  }
  .message {
    grid-column: span 2;
  }
  .form-section button {
    max-width: 88px;
    margin-left: 20px;
  }

  /* Features Start */

  .features {
    padding: 40px 32px;
  }

  .features-group-text {
    margin-bottom: 64px;
  }

  .features-group-text h3 {
    font-size: 32px;
    line-height: 42px;
  }

  .features-group-text p {
    margin-bottom: 40px;
  }

  .features-group-img-deskmob {
    display: none;
  }

  .features-group-img-tablet {
    display: block;
  }

  /* Footer Start */
  .footer {
    grid-template-columns: repeat(3, 1fr);
    padding: 40px 32px 32px 40px;
  }
  .icons-mobile {
    display: none;
  }
  .icons-tablet {
    display: flex;
    gap: 24px;
  }
  .footer-copyright {
    padding: 0 32px 40px 32px;
  }
  .footer-copyright > div {
    display: flex;
    justify-content: space-between;
  }
}

@media (width > 768px) {
  /* Header Start */
  .hamburger-menu {
    display: none;
  }
  .desktop-menu {
    display: block;
  }
  .header-navbar {
    padding: 20px 80px;
  }
  header .nav {
    list-style: none;
    display: flex;
    gap: 32px;
    margin-left: 64px;
  }
  .nav .active {
    background: url(../img/down-icon.png) no-repeat right;
    padding-right: 25px;
  }
  .nav li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    color: #272d37;
  }
  .header-register li a {
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    text-decoration: none;
    color: #fff;
    background-color: #437ef7;
    padding: 12px 18px;
    border-radius: 6px;
  }
  .header-register .sign-up {
    color: #437ef7;
    background: #f8f9fb;
  }
  .header-register {
    display: flex;
    list-style: none;
    gap: 24px;
    margin-left: auto;
  }
  .header-hero {
    padding: 80px 400px 94px;
  }
  /* Header End */

  /* Card Start */
  .cards-group {
    padding: 64px 80px;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }

  .card {
    max-width: 384px;
  }
  .card:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  }

  /* Features start */

  .features {
    padding: 64px 80px;
  }

  .features-group-card {
    display: flex;
    flex-direction: row;
    gap: 140px;
  }

  .features-group-text {
    max-width: 516px;
  }

  .features-group-text {
    align-self: center;
    padding-left: 32px;
  }

  .features-group-text h3 {
    font-size: 32px;
    line-height: 42px;
  }

  .features-group-img-deskmob {
    display: block;
    padding-right: 32px;
  }

  .features-group-img-tablet {
    display: none;
  }

  /* Footer start */
  .footer {
    padding: 64px 80px;
    display: flex;
    gap: 144px;
  }
  .footer-logo {
    max-width: 247px;
  }
  .footer-copyright > div {
    display: block;
    margin-top: 16px;
    text-align: center;
  }
  .icons-desktop {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
  }
  .icons-tablet {
    display: none;
  }
  /* Footer End */
}
