*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter";
  color: #272d37;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
ul {
  padding: 0;
}
a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
.desktop-menu  {
  display: none;
}
.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #EAEBF0;
  margin-bottom: 24px;
}

/* FAQ */

.first-faq,
.second-faq {
  padding: 40px 16px;
}

.faq-support-card details {
  padding: 16px 32px;
}

.faq-support-card > details:first-of-type {
  padding-block: 20px;
}

.faq-support-card > details:first-of-type > summary {
  font-size: 18px;
  line-height: 28px;
}

details:not(:last-child) {
  border-bottom: 1px solid #eaebf0;
}

details p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  color: #5f6d7e;
}

summary {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  color: #272d37;
  list-style: none;
}

.faq-support-card {
  border: 1px solid #eaebf0;
}

.label span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  color: #437ef7;
  background-color: #f5faff;
  border-radius: 5px;
  padding: 4px 12px;
}

.faq-desktop-info {
  display: none;
}

/* Integrations */
.integrations {
  padding: 32px 16px;
}

.integrations-content {
  text-align: center;
  margin-bottom: 32px;
}

.integrations-content h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.02em;
  margin-bottom: 12px;
}

.integrations-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  color: #5f6d7e;
}

.integrations-card-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.integration-card {
  padding: 16px;
  border: 1px solid #eaebf0;
  box-shadow: 0px 1px 2px 0px #1018280a;
  border-radius: 5px;
}

.integration-card img {
  margin-inline: auto;
}

.int-card-text {
  text-align: center;
}

.int-card-text h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.02em;
  margin-top: 16px;
  margin-bottom: 8px;
}

.int-card-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  color: #5f6d7e;
}

/* Footer start */

footer {
  padding: 32px 16px;
  background-color: #151b28;
}
.footer-hero h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  margin-bottom: 16px;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.input-group button:first-child {
  padding: 12px 18px 12px 18px;
  border-radius: 6px;
  background-color: #437ef7;
  color: #f9f9f9;
  box-shadow: 0px 1px 2px 0px #1018280a;
  border: none;
}
.input-group button:last-child {
  padding: 12px 18px 12px 18px;
  border-radius: 6px;
  background-color: #2c3444;
  color: #f9f9f9;
  box-shadow: 0px 1px 2px 0px #1018280a;
  border: none;
}
.footer-title {
  border-bottom: 1px solid #2e3545;
  border-top: 1px solid #2e3545;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding: 32px 16px;
  margin-top: 24px;
}

.footer-logo {
  grid-column: span 2;
}
.footer-title img {
  margin-bottom: 16px;
}

.footer-title p {
  color: #a5acba;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  margin-bottom: 24px;
}
.footer-title ul {
  padding: 0px;
}
.footer-title ul li {
  list-style: none;
  color: #a5acba;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  margin-bottom: 12px;
}

.footer-title ul li:first-child {
  color: #f9f9f9;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  margin-bottom: 16px;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  color: #a5acba;
}

.footer-copyright .social-icons {
  display: flex;
  gap: 12px;
}

@media (width > 375px) {

  /* FAQ */
  .first-faq,
  .second-faq {
    padding: 40px 32px;
  }

  .faq-support-card details {
    padding: 28px 32px;
  }

  /* Integrations */
  .integrations {
    padding: 40px 32px;
  }

  .integrations-content h3 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  .integrations-card-section {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 32px;
  }

  .integration-card {
    padding: 32px;
  }

  .integration-card:nth-child(3) {
    display: none;
  }

  .int-card-text h4 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 16px;
  }
  /* footer */
  footer {
    padding: 40px 32px;
  }
  .footer-hero h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.01em;
    padding-right: 49px;
  }
  .input-group {
    flex-direction: row;
  }
  .footer-title {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-copyright .social-icons {
    gap: 24px;
  }
}

@media (width > 768px) {
  .hamburger-menu {
    display: none;
  }
  .desktop-menu {
    display: block;
  }
  .header-navbar {
    padding: 20px 80px ;
  }
  header .nav {
    list-style: none;
    display: flex;
    gap: 32px;
    margin-left: 64px;
  }
  .nav li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    color: #272D37;
  }
  .header-register li a {
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    text-decoration: none;
    color: #fff;
    background-color: #437EF7;
    padding: 12px 18px;
    border-radius: 6px;
  }
  .header-register .sign-up {
    color: #437EF7;
    background: #F8F9FB;
  }
  .header-register {
    display: flex;
    list-style: none;
    gap: 24px;
    margin-left: auto;
  }
  /* FAQ */
  .first-faq,
  .second-faq {
    padding: 32px 80px;
  }

  .faq-support-desktop-info > span {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    color: #5f6d7e;
  }

  .faq-desktop-info {
    display: flex;
    gap: 32px;
    color: #5f6d7e;
  }

  /* Integrations */
  .integrations {
    padding: 64px 80px;
  }

  .integrations-content {
    margin-bottom: 64px;
  }

  .integrations-card-section {
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 32px;
  }

  .integration-card:nth-child(3) {
    display: block;
  }
  /* Footer */
  footer {
    padding: 64px 80px;
  }
  .footer-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-title {
    display: flex;
    gap: 152px;
  }
}
