*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter";
  color: #272d37;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
ul {
  padding: 0;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
header {
  background-color: #151b28;
}
.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #2e3545;
}
.desktop-menu {
  display: none;
}
.header-hero {
  padding: 32px 16px;
}
.header-hero h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #f9f9f9;
  margin-bottom: 16px;
}
.header-hero h5 {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.10000000149011612px;
  text-align: center;
  color: #a5acba;
}
.header-hero > img {
  margin-inline: auto;
  margin-top: 40px;
}
.header-pricing {
  margin-top: 32px;
}
.header-card-list {
  display: grid;
  gap: 16px;
}
.header-card {
  background-color: #1c2534;
  border: 1px solid #252d3c;
  padding: 24px;
  border-radius: 6px;
}
.header-card h3 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #f9f9f9;
  margin-bottom: 24px;
}
.header-card span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  color: #a5acba;
}
.header-card h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  margin-bottom: 8px;
}

.header-card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  color: #a5acba;
  margin-bottom: 16px;
}
.header-card > ul {
  padding-top: 16px;
  list-style: none;
  border-top: 1px solid #2e3545;
  margin-bottom: 24px;
}
.header-card > ul > li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  color: #f9f9f9;
  background: url(../img/checkbox-empty.svg) no-repeat left;
  padding-left: 35px;
  margin-bottom: 12px;
}
.header-card > ul > .active {
  background: url(../img/checkbox-full.svg) no-repeat left;
}
.header-card button {
  background-color: #437ef7;
  color: #f9f9f9;
  border-radius: 6px;
  padding: 12px 18px;
  border: none;
  width: 100%;
}

/* Header end */

/* Section Start */

.section {
  padding: 32px 18px;
}

.messaging-container-inner {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.base-card {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.base-card > img {
  margin-right: auto;
}

.base-card-text h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #272d37;
  margin-top: 16px;
  margin-bottom: 8px;
}

.base-card-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  color: #5f6d7e;
  margin-bottom: 16px;
}

.base-card-button {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-right: auto;
}

.base-card-button a {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  color: #437ef7;
}

/* Features-Pricing Start */

.features-pricing {
  padding: 32px 16px;
}

.features-pricing-content {
  text-align: center;
}

.features-pricing-content h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.02em;
  margin-bottom: 12px;
}

.features-pricing-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  color: #5f6d7e;
}

.pricing-product-text {
  padding-block: 32px;
  text-align: left;
}

.pricing-product-text h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
  margin-top: 8px;
}

.pricing-product-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  margin-bottom: 32px;
}

.pricing-product-text span {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  color: #437ef7;
}

.features-pricing-button {
  display: inline-flex;
  align-items: center;
  background-color: #437ef7;
  box-shadow: 0px 1px 2px 0px #1018280a;
  border-radius: 6px;
  padding: 12px 18px;
  gap: 6px;
}

.features-pricing-button a {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  color: #fff;
}

.pricing-product-img-deskmob {
  display: block;
}

.pricing-product-img-tablet {
  display: none;
}

/* Footer start */

footer {
  padding: 32px 16px;
  background-color: #151b28;
}
.footer-hero h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  margin-bottom: 16px;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.input-group button:first-child {
  padding: 12px 18px 12px 18px;
  border-radius: 6px;
  background-color: #437ef7;
  color: #f9f9f9;
  box-shadow: 0px 1px 2px 0px #1018280a;
  border: none;
}
.input-group button:last-child {
  padding: 12px 18px 12px 18px;
  border-radius: 6px;
  background-color: #2c3444;
  color: #f9f9f9;
  box-shadow: 0px 1px 2px 0px #1018280a;
  border: none;
}
.footer-title {
  border-bottom: 1px solid #2e3545;
  border-top: 1px solid #2e3545;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding: 32px 16px;
  margin-top: 24px;
}

.footer-logo {
  grid-column: span 2;
}
.footer-title img {
  margin-bottom: 16px;
}

.footer-title p {
  color: #a5acba;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  margin-bottom: 24px;
}
.footer-title ul {
  padding: 0px;
}
.footer-title ul li {
  list-style: none;
  color: #a5acba;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  margin-bottom: 12px;
}

.footer-title ul li:first-child {
  color: #f9f9f9;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  margin-bottom: 16px;
}
.footer-copyright {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  color: #a5acba;
}

.footer-copyright .social-icons {
  display: flex;
  gap: 12px;
}
/* Mobile End */

/* Tablet Start */

@media (width > 375px) {
  .header-hero {
    padding: 48px 32px;
  }
  .header-hero h1 {
    font-size: 52px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.01em;
    padding-inline: 18px;
  }
  .header-card-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  /* Header End */

  /* Footer start */

  footer {
    padding: 40px 32px;
  }
  .footer-hero h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.01em;
    padding-right: 49px;
  }
  .input-group {
    flex-direction: row;
  }
  .footer-title {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-copyright .social-icons {
    gap: 24px;
  }

  /* Section Start */

  .section {
    padding: 40px 32px;
  }

  .messaging-container-inner {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 48px 32px;
  }

  .base-card-text h3 {
    font-size: 22px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 12px;
  }

  /* Features-Pricing Start */

  .features-pricing {
    padding: 40px 32px;
  }

  .features-pricing-content h2 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  .pricing-product-text {
    padding-top: 40px;
    padding-bottom: 48px;
  }

  .pricing-product-text h3 {
    font-size: 32px;
    line-height: 42px;
  }

  .pricing-product-text p {
    margin-bottom: 40px;
  }

  .pricing-product-img-deskmob {
    display: none;
  }

  .pricing-product-img-tablet {
    display: block;
  }
}
/* Tablet End */

/* Desktop Start */

@media (width > 768px) {
  .hamburger-menu {
    display: none;
  }
  .desktop-menu {
    display: block;
  }
  .header-navbar {
    padding: 20px 80px;
  }
  .nav li a {
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    color: #fff;
  }
  .nav li a:hover {
    color: #437ef7;
  }
  header .nav {
    list-style: none;
    display: flex;
    gap: 32px;
    margin-left: 64px;
  }
  .header-register li a {
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    text-decoration: none;
    color: #fff;
    background-color: #437ef7;
    padding: 12px 18px;
    border-radius: 6px;
  }
  .header-register .sign-up {
    color: #437ef7;
    background: inherit;
  }
  .header-register .login:hover,
  .header-register .sign-up:hover {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }

  .header-register {
    display: flex;
    list-style: none;
    gap: 24px;
    margin-left: auto;
  }
  .header-hero {
    padding: 64px 80px;
  }
  .header-hero h1,
  .header-hero h5 {
    width: 640px;
    margin-inline: auto;
  }
  .header-pricing {
    padding-top: 64px;
  }
  .header-card-list {
    grid-template-columns: repeat(3, 1fr);
  }
  /* Header End */

  /* Section Start */

  .section {
    padding: 64px 80px;
  }

  .messaging-container-inner {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 64px 32px;
  }

  /* Footer start */

  footer {
    padding: 64px 80px;
  }
  .footer-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-title {
    display: flex;
    gap: 152px;
  }

  /* Features-Pricing Start */

  .features-pricing {
    padding: 64px 80px;
  }

  .features-pricing-card {
    display: flex;
    gap: 140px;
    padding-top: 64px;
    justify-content: space-between;
    padding-inline: 32px;
    max-width: 1280px;
  }

  .pricing-product-text {
    max-width: 516px;
    align-self: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .pricing-product-text h3 {
    font-size: 32px;
    line-height: 42px;
  }

  .pricing-product-text p {
    margin-bottom: 40px;
  }

  .pricing-product-img-deskmob {
    display: block;
  }

  .pricing-product-img-tablet {
    display: none;
  }
}


/* comment Start (hilal) */

.user{
  display: flex;
  gap: 10px;
}


.comments{
  background: #F8F9FB;
}

.comments>h3{
  text-align: center;
  margin-top: 32px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

.users-comment{
  display: grid;
  gap: 40px;
  margin-inline: 16px;
}

.user-comment>img{
  margin-bottom: 16px;
}

.user-comment>p{
  margin-bottom: 16px;
}


.user-identify span{
  color: #5F6D7E;

}

.user-comment:nth-child(3){
  margin-bottom: 32px;
}


@media (min-width: 375px){
 
  .users-comment{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 32px;
} 

  .comments{
    padding:40px 32px;
  }

  .user-comment:nth-child(3){
    grid-row: 2;
    grid-column: 1/span 2;
  }

}


@media (width > 768px){

  .users-comment{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
  .user-comment:nth-child(3){
    grid-row: 1;
    grid-column: 3/4;
  }
  .comments{
    padding: 80px 64px;
  }
}

/* comment End (hilal) düzenlemeye çalışıyoz inş gidecek */


